<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title> Spring Boot </title>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<h3> HOME PAGE </h3>
<div>
    <p sec:authorize="!isAuthenticated()"><a href="/login">Login</a> or create one</p>
    <div sec:authorize="isAuthenticated()">Welcome : <span sec:authentication="name"></span></div>
    <a href="/user/list">User management</a>
</div>
</body>
</html>